.skeletonGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(448px, 1fr));
  padding: 24px 24px 24px;
  grid-gap: 24px;
  max-width: 1440px;
  margin: auto;
}

.loadingImageSkeleton {
  background-image: linear-gradient(
    -45deg,
    #ebe4e4 35%,
    #edeef1 50%,
    #ebe4e4 65%
  );
  background-color: #eae4e4;
  /* background-image: url(https://mdn.dev/archives/media/attachments/2020/07/29/17350/3b4892b7e820122ac6dd7678891d4507/firefox.png); */
  /* background-position-x: 100%; */
  background-size: 800px;
  animation: shimmer infinite 1s;
  width: 100%;
  padding-top: 67.58241758241758%;
}

@keyframes shimmer {
  from {
    background-position-x: 100%;
  }

  to {
    background-position-x: -10%;
  }
}
