.modal::backdrop {
  background-color: grey;
  opacity: 50%;
}

.modal {
  max-width: 60vw;
  position: fixed;
}

.content {
  padding: 10px 20px;
}

.closeButton {
  padding: 0px 0px 6px 0px;
  float: right;
}
