.header {
  text-align: left;
  grid-area: header;
  grid-column: span 3;
  grid-row: span 2;
}

.navigation {
  display: grid;
  grid-area: navigation;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  align-content: bottom;
  align-items: center;
}

.description {
  grid-area: desc;
  grid-column: span 3;
}

.headerContainer {
  display: grid;
  padding: 12px;
  z-index: 10;
  background-color: white;
  grid-template-columns: repeat(4, 1fr) 120px;
  grid-auto-rows: minmax(30px, auto);
  grid-template-areas: "header . . . navigation";
  border-bottom: 1px black solid;
  background-color: gold;
}
